/*--------
   Auth
---------*/
.login-wapper{
    background: #EEF1F6;
    height: 600px;
}
@media #{$xs} {
    .login-wapper {
        height: auto;
    }
}
#auth-left{
    background-image:url('../images/authbg.jpg');
    background-size: cover;
    background-position: center bottom;
}
.login-msg{
    padding: 30px;
}
.auth-form{
    padding: 30px 30px 30px 0px;
}
@media #{$xs} {
    .auth-form{
        padding: 30px 30px 30px 30px;
    }
}