.new_nine_modal_head{
    background-image: url('../images/trial_modal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding: 35px;
    height: 150px;
    h5{
        color: $white;
    }
    .cross {
        line-height: 1;
        background: #fff;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 27px;
        position: absolute;
        right: 2%;
        top: 2%;
        cursor: pointer;
    }
}
.newnine_modal_body{
    padding: 35px;
}
.max-width-403{
    max-width: 403px;
    width: 100%;
}