/*----------------
    Watch video
------------------*/
#player_area{
    padding: 34px 0;
    #player{
        border-radius: 20px;
        width: 100%;
    }
    .player_action{
        padding: 0 15px;
        a{
            i{
                margin-right: 5px;
            }
        }
    }

    .time_display_oprion{
        span{
            padding: 0 30px;
            font-size: 16px;
            line-height: 40px;
            background: $theme-color;
            color: #fff;
            border-radius: 5px;
            font-weight: 500;
            border: 2px solid $theme-color;
        }
    }

    .video_area{
        position: relative;
    }
    .yt_overlay{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 7px;
      background: transparent;
      overflow: hidden;
    }

    .show_overlay{
        .yt_overlay{
            background: rgb(255 255 255 / 90%);
            transition: 0.5s;
        }
        .yt_overlay_msg,
        .snowflake{
            opacity: 1;
        }
    }

    .yt_overlay_msg{
        opacity: 0;
        background: #fff;
        font-size: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        border-radius: 15px;
        padding: 15px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
        font-weight: 600;
        color: $theme-color;
    }

    #next_btn,
    #stop_btn{
        display: none;
    }
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%,
    100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(80px)
    }
}

.snowflake {
    position: absolute;
    top: -10%;
    z-index: 9999;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

/*=========================
    Watch video Responsive
==========================*/
@media #{$xs} {
    #player_area{
        padding: 0px 0;
    }
}